# Assignment 3
### Due 9/23. Do four of five.

1. 
- Open the NHANES (or Ames prices or college completion datasets, if you prefer)
- Find two categorical variables of interest (there are 198, and short descriptions are given in the `nhanes_meta_17_18.csv` file). Investigate their missing values (you don't have to focus on missing values for this analysis like we did with police use of force, but always be aware of how dirty the data are)
- Compute a contingency table for your categorical $X$ and $Y$
- Discuss any interesting patterns (or lack of one) that you observe

In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [60]:
data = pd.read_csv("/home/john/ds5030/understanding_uncertainty/data/ames_prices.csv")
data.head(10)

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Screen.Porch,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition
0,1,526301100,1656,215000,20,RL,141.0,31770,Pave,NaN,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,2,526350040,896,105000,20,RH,80.0,11622,Pave,NaN,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,3,526351010,1329,172000,20,RL,81.0,14267,Pave,NaN,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,4,526353030,2110,244000,20,RL,93.0,11160,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
4,5,527105010,1629,189900,60,RL,74.0,13830,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
5,6,527105030,1604,195500,60,RL,78.0,9978,Pave,NaN,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
6,7,527127150,1338,213500,120,RL,41.0,4920,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
7,8,527145080,1280,191500,120,RL,43.0,5005,Pave,NaN,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
8,9,527146030,1616,236500,120,RL,39.0,5389,Pave,NaN,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Normal
9,10,527162130,1804,189000,60,RL,60.0,7500,Pave,NaN,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal

In [61]:
import pandas as pd
df = pd.DataFrame({'category': ['A', 'B', 'C', 'D', 'E', 'F']})
df['category'] = df['category'].astype('category')
print('Example categories for df:', df['category'].cat.categories)
if 'data' in globals():
    col = 'MS Zoning'
    if col in data.columns:
        data[col] = data[col].astype('category')
        print('\nCategories for', col, ':', data[col].cat.categories)
    else:
        print('\nColumn', col, 'not found in data; available columns:', list(data.columns))

Example categories for df: Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

Column MS Zoning not found in data; available columns: ['Order', 'PID', 'area', 'price', 'MS.SubClass', 'MS.Zoning', 'Lot.Frontage', 'Lot.Area', 'Street', 'Alley', 'Lot.Shape', 'Land.Contour', 'Utilities', 'Lot.Config', 'Land.Slope', 'Neighborhood', 'Condition.1', 'Condition.2', 'Bldg.Type', 'House.Style', 'Overall.Qual', 'Overall.Cond', 'Year.Built', 'Year.Remod.Add', 'Roof.Style', 'Roof.Matl', 'Exterior.1st', 'Exterior.2nd', 'Mas.Vnr.Type', 'Mas.Vnr.Area', 'Exter.Qual', 'Exter.Cond', 'Foundation', 'Bsmt.Qual', 'Bsmt.Cond', 'Bsmt.Exposure', 'BsmtFin.Type.1', 'BsmtFin.SF.1', 'BsmtFin.Type.2', 'BsmtFin.SF.2', 'Bsmt.Unf.SF', 'Total.Bsmt.SF', 'Heating', 'Heating.QC', 'Central.Air', 'Electrical', 'X1st.Flr.SF', 'X2nd.Flr.SF', 'Low.Qual.Fin.SF', 'Bsmt.Full.Bath', 'Bsmt.Half.Bath', 'Full.Bath', 'Half.Bath', 'Bedroom.AbvGr', 'Kitchen.AbvGr', 'Kitchen.Qual', 'TotRms.AbvGrd', 'Functional', 'Fireplaces', 'Fireplace.Qu', 'Garage.Type', 'Garage.Yr.Blt', 'Garage.Finish', 'Garage.Cars', 'Garage.Area', 'Garage.Qual', 'Garage.Cond', 'Paved.Drive', 'Wood.Deck.SF', 'Open.Porch.SF', 'Enclosed.Porch', 'X3Ssn.Porch', 'Screen.Porch', 'Pool.Area', 'Pool.QC', 'Fence', 'Misc.Feature', 'Misc.Val', 'Mo.Sold', 'Yr.Sold', 'Sale.Type', 'Sale.Condition']

In [62]:
if 'data' in globals():
    col1 = 'Fireplaces'
    col2 = 'Pool.Area'
    if col1 in data.columns and col2 in data.columns:
        contingency_table = pd.crosstab(data[col1], data[col2])
        print('\nContingency table between', col1, 'and', col2, ':\n', contingency_table)

Contingency table between Fireplaces and Pool.Area :
 Pool.Area    0    144  228  368  444  480  512  519  555  561  576  648  738  \
Fireplaces
0           1421    0    0    0    0    0    0    0    0    1    0    0    0
1           1267    0    1    1    1    0    1    0    0    0    1    1    1
2            218    1    0    0    0    0    0    1    1    0    0    0    0
3             11    0    0    0    0    1    0    0    0    0    0    0    0
4              0    0    0    0    0    0    0    0    0    0    0    0    0

Pool.Area   800
Fireplaces
0             0
1             0
2             0
3             0
4             1

In [63]:
data[['Fireplaces', 'Pool.Area']].isnull().sum()
if 'data' in globals():
    col1 = 'Fireplaces'
    col2 = 'Pool.Area'
    if col1 in data.columns and col2 in data.columns:
        contingency_table = pd.crosstab(data[col1], data[col2], normalize='index') * 100
        print('\nContingency table (in percentages) between', col1, 'and', col2, ':\n', contingency_table)

Contingency table (in percentages) between Fireplaces and Pool.Area :
 Pool.Area         0         144       228       368       444       480  \
Fireplaces
0           99.929677  0.000000  0.000000  0.000000  0.000000  0.000000
1           99.450549  0.000000  0.078493  0.078493  0.078493  0.000000
2           98.642534  0.452489  0.000000  0.000000  0.000000  0.000000
3           91.666667  0.000000  0.000000  0.000000  0.000000  8.333333
4            0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Pool.Area        512       519       555       561       576       648  \
Fireplaces
0           0.000000  0.000000  0.000000  0.070323  0.000000  0.000000
1           0.078493  0.000000  0.000000  0.000000  0.078493  0.078493
2           0.000000  0.452489  0.452489  0.000000  0.000000  0.000000
3           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Pool.Area        738    800
Fireplaces
0           0.000000    0.0
1           0.078493    0.0
2           0.000000    0.0
3           0.000000    0.0
4           0.000000  100.0

## Interesting Patterns

I chose the Ames housing data because it has clean data for both of the variables I chose: fireplaces and pools as expressed in pool area. I summarized the data as percentages and found it interesting that 100% of the houses with four fireplaces, the largest number, also have the largest number sized pool are of 800 square feet. I have to believe this is the head coach's house of the Iowa State football team resident in Ames. Also, most people in Ames don't have pools until they have three fireplaces. Makes sense that larger, more well appointed houses would be the ones to have pools.

2. 
- Open the NHANES dataset
- Find a categorical and numeric variable of interest (there are 198, and short descriptions are given in the `nhanes_meta_17_18.csv` file). Investigate their missing values (you don't have to focus on missing values for this analysis, but always be aware of them)
- Make descriptive tables and grouped kernel density plots to represent the variation in your numeric $Y$ conditional on your categorical $X$
- Discuss any interesting patterns (or lack of one) that you observe

In [75]:
meta = pd.read_csv("/home/john/ds5030/understanding_uncertainty/data/nhanes_meta_17_18.csv")
meta

,VariableNameLong,Variable,Type,Format,Informat,Label,Source,VariableName,SASLabel,EnglishText,Target,VariableNameLong_variable_df,Source_variable_df,EnglishInstructions,HardEdits,Recoded,CustomRecoding,nNonNA
0,GeneralHealthCondition,HSD010,Numeric,NaN,NaN,General health condition,HSQ,HSD010,General health condition,Next I have some general questions about {your...,Both males and females 12 YEARS -\n\n\t\t\t15...,GeneralHealthCondition,HSQ,NaN,NaN,True,NaN,5964.0
1,EverBreastfedOrFedBreastmilk,DBQ010,Numeric,NaN,NaN,Ever breastfed or fed breastmilk,DBQ,DBQ010,Ever breastfed or fed breastmilk,Now I'm going to ask you some general question...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,EverBreastfedOrFedBreastmilk,DBQ,NaN,NaN,True,YesNo,1069.0
2,AgeStoppedBreastfeedingdays,DBD030,Numeric,NaN,NaN,Age stopped breastfeeding(days),DBQ,DBD030,Age stopped breastfeeding(days),How old was {SP} when {he/she} completely stop...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeStoppedBreastfeedingdays,DBQ,NaN,NaN,False,NaN,862.0
3,AgeFirstFedFormuladays,DBD041,Numeric,NaN,NaN,Age first fed formula(days),DBQ,DBD041,Age first fed formula(days),How old was {SP} when {he/she} was first fed f...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeFirstFedFormuladays,DBQ,NaN,NaN,False,NaN,1077.0
4,AgeStoppedReceivingFormuladays,DBD050,Numeric,NaN,NaN,Age stopped receiving formula(days),DBQ,DBD050,Age stopped receiving formula(days),How old was {SP} when {he/she} completely stop...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeStoppedReceivingFormuladays,DBQ,NaN,NaN,False,NaN,891.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,UnitOfMeasureDayweekmonthyear_2_SMQ,SMQ852U,Numeric,NaN,NaN,Unit of measure (day/week/month/year),SMQ,SMQ852U,Unit of measure (day/week/month/year),"The last time {you/SP} tried to quit, how long...",Both males and females 18 YEARS -\n\n\t\t\t15...,UnitOfMeasureDayweekmonthyear,SMQ,ENTER UNIT,NaN,True,NaN,496.0
193,CurrentSelfreportedHeightInches,WHD010,Numeric,NaN,NaN,Current self-reported height (inches),WHQ,WHD010,Current self-reported height (inches),These next questions ask about {your/SP's} hei...,Both males and females 16 YEARS -\n\n\t\t\t15...,CurrentSelfreportedHeightInches,WHQ,ENTER HEIGHT IN FEET AND INCHES OR METERS AND ...,NaN,False,NaN,5776.0
194,CurrentSelfreportedWeightPounds,WHD020,Numeric,NaN,NaN,Current self-reported weight (pounds),WHQ,WHD020,Current self-reported weight (pounds),How much {do you/does SP} weigh without clothe...,Both males and females 16 YEARS -\n\n\t\t\t15...,CurrentSelfreportedWeightPounds,WHQ,"RECORD CURRENT WEIGHT. IF PREGNANT, ASK FOR WE...",NaN,False,NaN,5828.0
195,TriedToLoseWeightInPastYear,WHQ070,Numeric,NaN,NaN,Tried to lose weight in past year,WHQ,WHQ070,Tried to lose weight in past year,"During the past 12 months, {have you/has SP} t...",Both males and females 16 YEARS -\n\n\t\t\t15...,TriedToLoseWeightInPastYear,WHQ,NaN,NaN,True,YesNo,5087.0
196,TimesLost10LbsOrMoreToLoseWeight,WHQ225,Numeric,NaN,NaN,Times lost 10 lbs or more to lose weight,WHQ,WHQ225,Times lost 10 lbs or more to lose weight,How many times {have you/has SP} lost 10 pound...,Both males and females 16 YEARS -\n\n\t\t\t15...,TimesLost10LbsOrMoreToLoseWeight,WHQ,NaN,NaN,True,NaN,5794.0

In [46]:
import pandas as pd
# Example 1: create a DataFrame with a categorical column and show categories
df = pd.DataFrame({'category': ['A', 'B', 'C', 'D', 'E', 'F']})
# convert to categorical dtype (required to use .cat)
df['category'] = df['category'].astype('category')
print('Example categories for df:', df['category'].cat.categories)

#everusedheroin = data1['EverUsedHeroin']
#feelingbadaboutself = data1['HowOftenFeelBadAboutSelf']
if 'data1' in globals():
    col1 = 'EverUsedHeroin' 
    col2 = 'HowOftenFeelBadAboutSelf' 
    if col1 in data1.columns and col2 in data1.columns:
        contingency_table = pd.crosstab(data1[col1], data1[col2], normalize='index') * 100
        print('\nContingency table (in percentages) between', col1, 'and', col2, ':\n', contingency_table)

Example categories for df: Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

WaistCircumferenceCm	            BMXWAIST	
EverToldDoctorHadTroubleSleeping	SLQ050

In [41]:
#convert relevant columns to categorical dtype
if 'data1' in globals():
    cat_cols = ['EverToldDoctorHadTroubleSleeping']  # add more categorical column names as needed
    for col in cat_cols:
        if col in data1.columns:
            data1[col] = data1[col].astype('category')
            print('Categories for', col, ':', data1[col].cat.categories)
        else:
            print('Column', col, 'not found in data1; available columns:', list(data1.columns))

#check missing values in these columns
data1[['SLQ050', 'BMXWAIST', 'BMXWAISTIN', 'BMXWAISTM']].isnull().sum()

#descriptive statistics grouped by categorical variable
if 'data1' in globals():
    cat_col = 'SLQ050'  # categorical variable
    num_col = 'BMXWAIST'  # numeric variable
    if cat_col in data1.columns and num_col in data1.columns:
        desc_stats = data1.groupby(cat_col)[num_col].describe()
        print('\nDescriptive statistics of', num_col, 'grouped by', cat_col, ':\n', desc_stats)  # adjust max_rows and max_cols as needed

Categories for EverToldDoctorHadTroubleSleeping : Index([0.0, 1.0], dtype='float64')

KeyError: "None of [Index(['SLQ050', 'BMXWAIST', 'BMXWAISTIN', 'BMXWAISTM'], dtype='object')] are in the [columns]"

3. 
We showed that the mean and median could be discovered by minimizing various kinds of loss functions; this is what machine learning is. To make a prediction $\hat{y}(z)$ of $Y$ when $X=z$, minimize the mean squared error:
$$
MSE(\hat{y}(z)) = \dfrac{1}{N} \sum_{i=1}^N \left\lbrace y_i - \hat{y}(z) \right\rbrace^2 \frac{1}{h}k\left(\frac{z-x_i}{h}\right)
$$
Show that the solution to this problem is the LCLS/Naradaya-Watson estimator.

4. 
- Write a class or set of functions that implement the LCLS/Naradaya-Watson estimator, using the Silverman plug-in estimate for the conditioning variable $X$ as the bandwidth.
- From one of the course data sets, find two numeric variables of interest, analyze their relationship with the the LCLS/Naradaya-Watson estimator, and discuss your results.

5. 
- In any of the available data sets, investigate the relationships between pairs of variables $(X,Y)$ with a scatterplot and CEF (for example, price on area)
- Is this relationship plausibly causal, or are there missing variables that might explain at least part of the relationship between your variables? These can be "conceptual" rather than "practical"; for example, 'talent' or 'grit' probably explain education outcomes, but are almost impossible to measure. We are asking whether there are hypothetical **threats to causal identification** of the effect of $X$ on $Y$.
- Explain how, regardless of the threat to causal identification, you can still use your model to predict $Y$ given $X$, as long as you don't intervene in the system to control the outcome